#homepage {
  background-image: url(images/rise.jpg);
  background-size: 400px 600px, cover;
  background-position: center;
  background-repeat: no-repeat;
}

a { 
	text-decoration: none;
}

.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}
.footer-button-left {
    left: 0.4em;
}
.footer-button-right {
    right: 0.4em;
}